body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background-color: black;
  }
  
  h1 {
    color: rgb(238, 255, 0);
  }
  
  .grid-container {
    columns: 5 350px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
    border-color: aliceblue;
  }
  .grid-container div {
    width: 250px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    border-color: aliceblue;

  }
  .grid-container div:hover img {
    filter: grayscale(0);
    border-color: aliceblue;

  }
  .grid-container div:hover {
    border-color: rgb(255, 247, 0);
    border-color: aliceblue;

  }
  .grid-container div img {
    width: 100%;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    border-color: aliceblue;

  }
  .grid-container div p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
    border-color: aliceblue;

  }
  .grid-item{
    border-color: aliceblue;
  }
.forf{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.nigga{
  color: white;
}